@import "colors.css";
@import "fonts.css";
@import "styleHeader.css";
@import "styleMobile.css";

* {
  margin: 0 auto;
  line-height: 1.6;
}

body {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: var(--body);
}

.hidden {
  display: none;
}

#history {
  width: 100vw;
}
