@import "colors.css";
@import "fonts.css";
@import "styleHeader.css";
@import "styleMobile.css";
@import "footer.css";
@import "styleDekstop.css";
@import "authentification.css";

* {
  margin: 0 auto;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--body);
}

p {
  padding-top: 3rem;
  text-align: justify;
}

a:visited {
  color: var(--background);
}

a {
  text-decoration: none;
}

.container {
  width: 70vw;
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

.logo {
  padding-block: 2rem;
  display: flex;
}

.hidden {
  display: none;
}

#history {
  width: 100vw;
}
