<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>The Sims</title>
        <link rel="stylesheet" href="/style/style.css">
        <script type="module" src="/js/main.js"></script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <section>
                <article>
                    <a href="#register">Inscription</a>
                    <a href="#login">Connexion</a>

                    <form action="#" method="get" id="login">
                        <h5>Connexion</h5>
                        <label for="emailConnexion">Email</label>
                        <input type="email" placeholder="bella.goth@gmail.com" id="emailConnexion" required>

                        <label for="passwordConnexion">Mot de passe</label>
                        <input type="password" placeholder="*********" id="passwordConnexion" required>

                        <button type="submit">Connexion</button>
                    </form>
                    <form action="#" method="get" id="register">
                        <h5>Inscription</h5>
                        <label for="pseudo">Pseudo</label>
                        <input type="text" name="pseudo" placeholder="BellaGoth" id="pseudo" required>

                        <label for="email">Email</label>
                        <input type="email" placeholder="bella.goth@gmail.com" id="email" required>

                        <label for="password">Mot de passe</label>
                        <input type="password" placeholder="*********" id="password" required>

                        <input type="checkbox" name="showPassword" id="showPassword">
                        <label for="showPassword">Montrer le mot de passe</label>

                        <label for="confirmPassword">Confirmer le mot de passe</label>
                        <input type="password" placeholder="*********" id="confirmPassword" required>

                        <div>
                        <input type="checkbox" name="subscribeNews" value="newsletter" id="subscribeNews"/>
                        <label for="subscribeNews">Inscription à la newsletter</label>
                        </div>
                        <button type="submit">Inscription</button>
                    </form>
                </article>
            </section>
        <footer>
        </footer>
    </body>
</html>