<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Sims</title>

        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="style/styleMobile.css">
        <link rel="stylesheet" href="style/styleHeader.css"> 
        <script type="module" src="/js/main.js"></script>
    </head>

    <body>
        <style>
            input:invalid {
            background-color: ivory;
            border: none;
            outline: 2px solid red;
            border-radius: 5px;
            }
        </style>
        <header>
        </header>
        <main>
            <section>
                <article>
                    <a href="#register">Inscription</a>
                    <a href="#login">Connexion</a>

                    <form action="#" method="post" id="login">
                        <h5>Connexion</h5>
                        <label for="emailConnexion">Email</label>
                        <input type="email" placeholder="bella.goth@gmail.com" id="emailConnexion" >

                        <label for="passwordConnexion">Mot de passe</label>
                        <input type="password" placeholder="*********" id="passwordConnexion">

                        <p id="errorLogin"></p>

                        <button type="submit">Connexion</button>
                    </form>
                    <form action="#" method="post" id="register">
                        <h5>Inscription</h5>
                        <label for="pseudo">Pseudo</label>
                        <input type="text" name="pseudo" placeholder="BellaGoth" id="pseudo">

                        <label for="email">Email</label>
                        <input type="email" placeholder="bella.goth@gmail.com" id="email">

                        <label for="password">Mot de passe</label>
                        <input type="password" placeholder="*********" id="password">

                        <input type="checkbox" name="showPassword" id="showPassword">
                        <label for="showPassword">Montrer le mot de passe</label>

                        <label for="confirmPassword">Confirmer le mot de passe</label>
                        <input type="password" placeholder="*********" id="confirmPassword">

                        <div>
                        <input type="checkbox" name="subscribeNews" value="newsletter" id="subscribeNews"/>
                        <label for="subscribeNews">Inscription à la newsletter</label>
                        </div>

                        <p id="errorRegister"></p>

                        <button type="submit">Inscription</button>
                    </form>
                </article>
            </section>
        <footer>
        </footer>
    </body>
</html>