<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les Sims 3</title>
    <link rel="stylesheet" href="/style/style.css">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="logoMenu">
        <a href="../index.html">
            <h1>Les Sims</h1>
        </a>  
      </div>
      <nav class="navigation" id="nav">
          <ul>
              <li><a href="/index.html">Accueil</a></li>
              <li><a href="/views/sims1.html">Les Sims 1</a></li>
              <li><a href="/views/sims2.html">Les Sims 2</a></li>
              <li><a href="/views/sims3.html">Les Sims 3</a></li>
              <li><a href="/views/sims4.html">Les Sims 4</a></li>
              <li><a href="/views/authentification.html">Compte</a></li>
          </ul>
      </nav>
      <a href="javascript:void(0);" id="menuButton">
          <img class="diamond" src="../assets/images/diamond.png" alt="Identification / Inscription">
      </a>
    </header>
    <main>
      <img
        src="../assets/images/sims3/220px-Les_Sims_3_Logo.png"
        alt="Logo du jeu Les Sims 3"
      />
      <!-- <h2 class="hidden">Les Sims 3</h2> -->
      <article>
        <h3>Les Sims 3</h3>
        <p>
          Les Sims 3 est un jeu vidéo de simulation de vie de la série de jeux
          Les Sims, initialement développé par The Sims Studio, une division de
          Maxis (groupe Electronic Arts) et édité par
          <abbr title="Electronic Arts">EA</abbr> Games.
        </p>
        <p>
          Annoncé depuis novembre 20061, le jeu, initialement prévu pour le 19
          février 2009 en France, a vu sa sortie repoussée au 2 juin 2009 aux
          États-Unis, d'après l'annonce de Will Wright lors d'une conférence le
          3 février 2009. Il est finalement sorti en Europe le 4 juin 2009.
        </p>
        <p>
          Les Sims 3 est également sorti sur PlayStation 3, PlayStation
          Portable, Nintendo DS, sur Wii et sur Xbox 360 le 28 octobre 2010.
          Avec plus de 200 millions d'exemplaires vendus, Les Sims est la série
          de simulation de vie la plus vendue au monde. L'épisode du volet Les
          Sims 3 tout comme Grand Theft Auto est le jeu vidéo sur PC qui s'est
          le mieux vendu au monde, il s'est écoulé à plus de 10 millions
          d'exemplaires depuis sa sortie en janvier 2009. Comme dans les deux
          premiers opus de la série, le but du jeu est de s'occuper de plusieurs
          personnages (appelés "Sims") tout au long de leur vie. Chaque joueur
          contrôle tous les aspects de la vie de son Sim (famille, travail…) et
          décide entièrement de son destin. Sans finalité précise, la durée de
          vie du jeu repose sur les possibilités offertes au joueur d'enrichir
          la vie de son Sim (vie amoureuse et familiale, carrière
          professionnelle, compétences, train de vie…) Des événements dont le
          joueur n'a pas décidé se produisent en cours de jeu. Comme pour les
          opus précédents, des extensions sortent régulièrement sur le marché.
          Est également présent l'aspect de la construction, de l'aménagement et
          de la décoration de la maison de son Sim et des terrains du quartier
          qui occupe comme toujours une part importante dans le gameplay. Les
          changements par rapport aux deux précédents opus sont l'ouverture du
          quartier ainsi que la possibilité de personnaliser les textures des
          objets, sols et murs.
        </p>
      </article>
      <section class="carousel">
        <img
          src="/assets/images/sims3/1193343_orig-2.jpg"
          alt="Image du jeu Les Sims 3"
        />
        <img
          src="/assets/images/sims3/simsscr_030-large-2.jpg"
          alt="Image du jeu Les Sims 3"
        />
        <img
          src="/assets/images/sims3/ss_558828d36774c309ea9fe7d5f1a3050c18df1096.1920x1080-2.jpg"
          alt="Image du jeu Les Sims 3"
        />
      </section>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/views/sims1.html">Les Sims 1</a></li>
          <li><a href="/views/sims2.html">Les Sims 2</a></li>
          <li><a href="/views/sims3.html">Les Sims 3</a></li>
          <li><a href="/views/sims4.html">Les Sims 4</a></li>
          <li><a href="/views/authentification.html">Compte</a></li>
        </ul>
      </nav>
      <p>Made by Armance et Blanche</p>
    </footer>
  </body>
</html>
