<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les Sims 1</title>
    <link rel="stylesheet" href="/style/style.css">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="logoMenu">
        <a href="./index.html">
            <h1>Les Sims</h1>
        </a>  
      </div>
      <nav class="navigation" id="nav">
          <ul>
              <li><a href="/index.html">Accueil</a></li>
              <li><a href="/views/sims1.html">Les Sims 1</a></li>
              <li><a href="/views/sims2.html">Les Sims 2</a></li>
              <li><a href="/views/sims3.html">Les Sims 3</a></li>
              <li><a href="/views/sims4.html">Les Sims 4</a></li>
              <li><a href="/views/authentification.html">Compte</a></li>
          </ul>
      </nav>
      <a href="javascript:void(0);" id="menuButton">
          <img class="diamond" src="../assets/images/diamond.png" alt="Identification / Inscription">
      </a>
    </header>
    <main class="container">
      <img
        src="../assets/images/sims1/220px-Les_Sims_Logo.png"
        alt="Logo du jeu Les Sims 1"
      />
      <!-- <h2 class="hidden">Les Sims 1</h2> -->
      <article>
        <h3>Les Sims 1</h3>
        <p>
          Les Sims (The Sims en anglais, SimPeople au Japon) est un jeu vidéo de
          simulation de vie en 3D isométrique uniquement jouable en solo,
          développé par le studio Maxis sous la direction de Will Wright et
          édité par Electronic Arts le 4 février 2000 sur PC (Windows) et le 25
          juillet 2000 sur Mac OS. En 2003, il est adapté sur PlayStation 2,
          Xbox et GameCube, et intègre dans ces versions une perspective
          entièrement en trois dimensions.
        </p>
        <br />
        <p>
          Dans Les Sims, le joueur peut créer une ville et des personnages,
          fonder une famille, trouver un travail, et gérer sa vie. Le jeu n'a
          pas de fin précise, et une partie ne se termine que si toute la
          famille gérée par le joueur meurt. Les Sims a été l'un des premiers
          jeux de simulation de vie.
        </p>
        <br />
        <p>
          Le développement du jeu commence en 1997 sous la direction de Will
          Wright. Ni Maxis, ni <abbr title="Electronic Arts">EA</abbr> Games ne
          croient à ce projet au départ, mais Wright parvient tout de même à
          publier Les Sims. Contrairement à toutes les attentes des éditeurs,
          Les Sims devient en 2001 le jeu le plus vendu de l'histoire devant
          Myst et garde ce titre jusqu'en 2003. Il reçoit également plusieurs
          titres de jeu de l'année et des récompenses.
        </p>
        <br />
        <p>
          Plusieurs extensions sont prévues dès le développement du jeu, puis
          commercialisées pendant les années qui suivent. En 2010, la franchise
          Les Sims s'est écoulée à plus de 125 millions d'exemplaires, ce qui en
          fait la franchise la plus vendue de l'histoire sur PC. Face au succès
          du jeu et de ses extensions, Les Sims est le point de départ d'une
          série prolifique composée de nombreuses suites, adaptations et jeux
          dérivés.
        </p>
      </article>
      <section class="carousel">
        <img
          src="../assets/images/sims1/maxresdefault-2.jpg"
          alt="Image du jeu Les Sims 1"
        />
        <img
          src="../assets/images/sims1/Sims-1-Gameplay-e1567678876536.jpg"
          alt="Image du jeu Les Sims 1"
        />
        <img
          src="../assets/images/sims1/stove-fire-in-the-first-sims-2.jpg"
          alt="Image du jeu Les Sims 1"
        />
      </section>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/views/sims1.html">Les Sims 1</a></li>
          <li><a href="/views/sims2.html">Les Sims 2</a></li>
          <li><a href="/views/sims3.html">Les Sims 3</a></li>
          <li><a href="/views/sims4.html">Les Sims 4</a></li>
          <li><a href="/views/authentification.html">Compte</a></li>
        </ul>
      </nav>
      <p>Made by Armance et Blanche</p>
    </footer>
  </body>
</html>
