<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les Sims 4</title>
    <link rel="stylesheet" href="/style/style.css">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="logoMenu">
        <a href="../index.html">
            <h1>Les Sims</h1>
        </a>  
      </div>
      <nav class="navigation" id="nav">
          <ul>
              <li><a href="/index.html">Accueil</a></li>
              <li><a href="/views/sims1.html">Les Sims 1</a></li>
              <li><a href="/views/sims2.html">Les Sims 2</a></li>
              <li><a href="/views/sims3.html">Les Sims 3</a></li>
              <li><a href="/views/sims4.html">Les Sims 4</a></li>
              <li><a href="/views/authentification.html">Compte</a></li>
          </ul>
      </nav>
      <a href="javascript:void(0);" id="menuButton">
          <img class="diamond" src="../assets/images/diamond.png" alt="Identification / Inscription">
      </a>
    </header>
    <main class="container">
      <img
        src="../assets/images/sims4/Les_Sims_4_Logo_2019.svg.png"
        alt="Logo du jeu Les Sims 4"
      />
      <h2 class="hidden">Les Sims 4</h2>
      <article>
        <h3>Les Sims 4</h3>
        <p>
          Les Sims 4 est un jeu vidéo de simulation de vie de la série d'accord
          Les Sims, développé par Maxis et édité par Electronic Arts. Il est
          sorti sur Microsoft Windows le 4 septembre 2014 en Europe. La
          bande-son du jeu a été composée par Ilan Eshkeri.
        </p>
        <p>
          Le jeu est ensuite sorti en février 2015 sur macOS, puis en novembre
          2017 sur les consoles Xbox One et PlayStation 4. Sur ces consoles, le
          monde des Sims 4 n'est également pas ouvert, le joueur doit attendre
          un temps de chargement comme sur PC et les anciens opus (Les Sims et
          Les Sims 2). En octobre 2022, le jeu standard devient free-to-play.
        </p>
        <p>
          À sa sortie, le jeu se classe en tête des ventes PC mais est en
          revanche moyennement bien accueilli par la critique et mal reçu par
          les joueurs, principalement à cause de la disparition du monde ouvert
          et du manque de contenu, ajouté plus tard par des DLC payants. Et bien
          que certains ajouts soient arrivés par le biais de mises à jour
          gratuites, 15 packs d'extension, 12 packs de jeu, 19 kits d'objets et
          22 kits sont déjà sortis et sont payants à l'acquisition.
        </p>
      </article>
      <section class="carouselContainer">
        <h3 class="hidden">Défilement d'image du jeu</h3>
        <div class="carousel">
          <input type="radio" name="slider" id="item-1" checked />
          <input type="radio" name="slider" id="item-2" />
          <input type="radio" name="slider" id="item-3" />
          <div class="cards">
            <label class="card" for="item-1" id="song-1">
              <img src="../assets/images/sims4/EGS_TheSims4ForRentExpansionPack_Maxis_DLC_G1A_00_1920x1080-9e41a9c3c38dc6622bbfe7e6e33b2d6d-2.jpeg" alt="Image du jeu Les Sims 4" class="image1"/>
            </label>
            <label class="card" for="item-2" id="song-2">
              <img
                src="../assets/images/sims4/EGS_SP36TheSims4PastelPopKit_Maxis_DLC_G1A_00_1920x1080-c3ef70fe91d993bb94cad70552683353-2.jpeg"
                alt="Image du jeu Les Sims 4"
              />
            </label>
            <label class="card" for="item-3" id="song-3">
              <img
                src="../assets/images/sims4/846041-pack-sims-4-2.jpg"
                alt="Image du jeu Les Sims 4"
              />
            </label>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/views/sims1.html">Les Sims 1</a></li>
          <li><a href="/views/sims2.html">Les Sims 2</a></li>
          <li><a href="/views/sims3.html">Les Sims 3</a></li>
          <li><a href="/views/sims4.html">Les Sims 4</a></li>
          <li><a href="/views/authentification.html">Compte</a></li>
        </ul>
      </nav>
      <p>Made by Armance et Blanche</p>
    </footer>
  </body>
</html>
