<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les Sims 2</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/styleHeader.css" />
    <link rel="stylesheet" href="../style/styleMobile.css" />
  </head>
  <body>
    <header>
      <h1>Les Sims</h1>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/views/sims1.html">Les Sims 1</a></li>
          <li><a href="/views/sims2.html">Les Sims 2</a></li>
          <li><a href="/views/sims3.html">Les Sims 3</a></li>
          <li><a href="/views/sims4.html">Les Sims 4</a></li>
          <li><a href="/views/authentification.html">Compte</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img
        src="../assets/images/sims2/220px-Les_Sims_2_Logo-removebg-preview-2.png"
        alt="Logo du jeu Les Sims 2"
      />
      <!-- <h2 class="hidden">Les Sims 2</h2> -->
      <article>
        <h3>Les Sims 2</h3>
        <p>
          Les Sims 2 est un jeu vidéo de simulation de vie développé par Maxis,
          édité par Electronic Arts le 14 novembre 2004 sur PC (Windows) et
          adapté sur Mac OS X le 17 juin 2005. Il est adapté sur Game Boy
          Advance, GameCube, Nintendo DS, Playstation 2, Xbox et PSP. Il est le
          second épisode de la série après Les Sims.
        </p>
        <p>
          Le jeu contient 8 extensions, 9 kits d'objets bonus et 9 éditions
          spéciales. Dans ce second opus, une interface graphique avancée et
          l'apparition de la 3D améliorent la jouabilité par rapport à son
          prédécesseur. La version de base du jeu intègre la majorité des
          grandes évolutions apportées au premier titre par ses extensions, sans
          compter les extensions propres à cet épisode.
        </p>
        <p>
          Le principe du jeu reste cependant le même, tout en apportant de
          nouvelles fonctionnalités comme la jauge d'aspiration de chaque Sim,
          qui évolue en fonction de l'assouvissement de ses désirs, ou au
          contraire de la réalisation de ses craintes (désirs et craintes
          évoluant constamment au cours de la vie de chaque Sim).
        </p>
        <p>
          L'environnement est amélioré par rapport à la version précédente. Il y
          a une plus grande diversité au niveau des comportements des Sims ainsi
          que des objets, maisons, terrains. L'angle de la caméra est maintenant
          totalement gérable, contrairement au premier épisode qui ne proposait
          qu'un nombre limité de vues.
        </p>
      </article>
      <section class="carousel">
        <img
          src="/assets/images/sims2/the-sims-2-seasons_1-2.jpg"
          alt="Image du jeu Les Sims 2"
        />
        <img
          src="/assets/images/sims2/the-sims-2_11-2.jpg"
          alt="Image du jeu Les Sims 2"
        />
        <img
          src="/assets/images/sims2/the-sims-2_2-2.jpg"
          alt="Image du jeu Les Sims 2"
        />
      </section>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="/index.html">Accueil</a></li>
          <li><a href="/views/sims1.html">Les Sims 1</a></li>
          <li><a href="/views/sims2.html">Les Sims 2</a></li>
          <li><a href="/views/sims3.html">Les Sims 3</a></li>
          <li><a href="/views/sims4.html">Les Sims 4</a></li>
          <li><a href="/views/authentification.html">Compte</a></li>
        </ul>
      </nav>
      <p>Made by Armance et Blanche</p>
    </footer>
  </body>
</html>
